
.header {
   display: flex;
   align-items: center;
}

.logo {
   width: 50%;
   text-align: left;
}

.navigation {
   width: 50%;
}

.navigation ul {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}